body {
	font-family: system-ui;
	background-color: #969696;
	height: 100%;
	width: 99%;
}

header {
  display: flex;
  align-text: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 15%;
}

.table_toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.table_toolbar_L {
    display: flex;
    gap: 10px;
}

.table_toolbar_R {
    display: flex;
}


main {
	height: 65%;
	width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

td {
  padding: 1px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}

th {
  background: #f0f0f0;
  text-align: left;
  padding: 1px;
  border-bottom: 1px solid #ddd;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #3B3B3B;
}